body {
	background-color: rgb(255,255,255);
	font-family: 'Droid Sans Mono';
	color: rgb(40,40,40);
	font-size: 6pt;
	overflow: hidden;
}

#hidden {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.5;
	padding: 20px;
	background-color: white;
}

.percent {
	font-size: 80pt;
	display: block;
	clear: both;
}

.days {
	font-size: 30pt;
	display: block;
	clear: both;
}

.center {
    position: absolute;
    width: 600px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px; 
    text-align: center;
}​

#cal{
	position: absolute;
	top: 10;
	bottom: 10;
	left: 10;
	right: 10;
}

.calCell {
	display: table-cell;
	border: 1px solid rgb(255,255,255);
	width: 10px;
	height: 10px;
	overflow: hidden;
	float: left;
	text-align: center;
	background-color: rgb(245,245,240);
	padding: 0;
	margin: 0;
	color: rgba(0,0,0,0.2);
}

.t1{
	border-left: 1px solid rgb(150,150,150);
}


.spec {

}