::-webkit-scrollbar { 
    display: none; 
}

body {
	background-color: rgb(255,0,0);
	font-family: 'Droid Sans Mono';
	color: rgb(40,40,40);
	font-size: 6pt;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}

#contain {
	width: 374px;
	height: 304px;
	overflow: hidden;
	display: block;
	background-color: rgb(255,255,255);
	padding: 8px;
	top: 0px;
	left: 90px;
	position: absolute;
}

#leftbar{
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	border-right: 2px solid black;
	height: 320px;
	width: 88px;
}


#clock{
	padding: 0px;
	margin: 0px;
	position: absolute;
	top: 10px;
	left: 10px;
}


#percent {
	font-size: 40pt;
	position: absolute;
	top: 180px;
	left: 20px;

}

#ferie {
	position: absolute;
	bottom: 20px;
	left: 25px;
	font-size: 14pt;
}

#week {
	font-size: 30pt;
	position: absolute;
	top: 250px;
	left: 25px;
}

.center {
    position: absolute;
    width: 300px;
    height: 200px;
    top: 90px;
    left: 37px;
    text-align: left;
}​

#cal{
	position: absolute;
	top: 10;
	bottom: 10;
	left: 10;
	right: 10;
}

#height {
	font-size: 14px;
	position: absolute;
	top: 27px;
	right: 12px;
}

#weight {
	font-size: 14px;
	position: absolute;
	top: 10px;
	right: 20px;
}

#weather {
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-size: 10px;
}

.calCell {
	display: table-cell;
	border: 1px solid rgb(255,255,255);
	width: 20px;
	height: 20px;
	overflow: hidden;
	float: left;
	text-align: center;
	background-color: rgb(245,245,240);
	padding: 0px;
	margin: 0;
	color: rgb(0,0,0);
}

.t1{
	border-left: 1px solid rgb(150,150,150);
}


.spec {

}